/********用户注册********/
.register{width:500px;border:5px solid #EED2EE;padding:20px;padding-bottom:5px;margin-left:27%;margin-top:40px;color:#F4A460;}
.register ul li{margin-top:10px;margin-bottom:5px;}

.login{width:450px;border:5px solid #EED2EE;padding:20px;padding-bottom:5px;margin-left:27%;margin-top:40px;color:#F4A460;}
.login ul li{margin-top:10px;margin-bottom:7px;}