@using SevenMouths.Models
@using SevenMouths.Helpers
@{
    CookieHelper cookie = new CookieHelper();
    User user;
    using(SevenMouthsEntities context = new SevenMouthsEntities())
    {
        user = context.Users.FirstOrDefault(x => x.UserId == cookie.UserId);
    }
    
  }


  <span>
  @if (cookie.IsLogin)
  { 
    <b><span><a href="/Shares/Index/@user.UserId">@SharesHelper.MySharesBlock(user.UserId, user.Name, user.MainPictureUrl)</a><a href="/Users/LogOut">[退出]</a>|</span></b>
  }
  else
  {
    <b><span><a href="/Users/Login">登录</a></span>|</b>
  }
  <b><span><a href="/Users/Register">注册</a></span>|</b>
  <b><span><a href="/Shares/Add">偶要分享</a></span>|</b>
  <b><span><a href="/Home/Index">首页</a></span></b>
  </span>
