<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NumMin" value="1000000"/>
    <add key="NumMax" value="9999999"/>
    <!--QZone参数配置-->
    <add key="ConsumerKey" value="100640209" />
    <add key="ConsumerSecret" value="73af3333a4408fb7fb9e2b8076154c6d" />
    <add key="CallbackUrl" value="http://xiaxiazl.s2.jutuo.net/OnLoginQZone" />
    <!--QZone参数配置-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!--<add name="SevenMouthsEntities"
    connectionString="metadata=res://*/Models.SevenMouths.csdl
    |res://*/Models.SevenMouths.ssdl|res://*/Models.SevenMouths.msl
    ;provider=System.Data.SqlClient;provider connection string=&quot;
    Data Source=127.0.0.1,1433;Initial Catalog=a0614114316;Integrated Security=False;User ID=a0614114316;pwd=93783019;
    MultipleActiveResultSets=True&quot;"
    providerName="System.Data.EntityClient" />-->
    <add name="SevenMouthsEntities" connectionString="metadata=res://*/Models.SevenMouths.csdl&#xD;&#xA;    |res://*/Models.SevenMouths.ssdl|res://*/Models.SevenMouths.msl&#xD;&#xA;    ;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;    Data Source=.;Initial Catalog=SevenMouths;Integrated Security=True;&#xD;&#xA;    MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>