@{
    ViewBag.Title = "登录";
    Layout = "../Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(".login").corner("10px");
</script>

<form action="/Users/Login" method="post">
    <div class="login">
        <div>帐号登录</div>
        <hr color="#F08080"/>
        <div style="margin-bottom:10px;">
            <ul>
                <li><span class="label-item">邮箱或用户名：</span><input type="text" name="emailOrName" id="emailOrName" class="text-item"/></li>
                <li><span class="label-item">密码：</span><input type="password" name="password" id="password" class="text-item"/></li>
                <li><input type="submit" class="button" value="登录" style="position:relative;margin-left:37%;margin-top:15px;"/></li>
            </ul>
            <div class="message">@ViewBag.message</div>
        </div>
        <div style="margin-left:57%;">
            <ul>
                <li><a href="/Users/LoginQZone" title="使用QQ号登录"><img src="/image/Connect_logo_3.png " alt="" /></a></li>
            </ul>
        </div>
    </div>
</form>
